body, h1, h3 {
    margin: 0;
    font-family: 'Lato', sans-serif;
}

body {
    background: #2B2B2B;
}

/* MAIN */

.main-block {
    background: url('../images/bg1.jpg');
    background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.main-title {
    font-size: 60px;
    padding-bottom: 40px;
}

.main-subtitle {
    font-size: 30px;
    padding-bottom: 30px;
    border-bottom: 4px solid rgba(0, 0, 0, 0.548);
}

.social-media-items {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 50px;
}

.social-media-items svg {
    width: 45px;
    cursor: pointer;
    height: 45px;
    margin: 0 20px;
    transition: 0.3s; 
}
.social-media-items svg:hover {
    fill:#11ABB0;
}
.burger {
    display: none;
}
.menu-adaptive-block {
    display: none;
}
.menu {
    background: rgba(0, 0, 0, 0.37);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.menu a {
    text-decoration: none;
    color: black;
    font-size: 20px;
    padding: 10px 30px;
    transition: 0.3s;
}

.menu-scroll {
    background: rgba(0, 0, 0, 0.787);
    position: fixed;
    z-index: 9999;
    color: white !important;
}

.menu-scroll a {
    color: white;
}

.menu a:hover {
    color: #11ABB0;
}
.title {
    font-size: 32px;
    padding-top: 45px;
    color: white;
}

/* ABOUT */

.about-block {
    padding: 50px 0 100px 0;
    max-width: 1140px;
    margin: 0 auto;
}
.about-container {
    display: flex;
    align-items: flex-start;
    padding-top: 40px;
}
.about-img {
    margin-top: 70px;
    margin-left: 50px;
    width: 250px;
    height: 250px;
    border-radius: 50%;
    overflow: hidden;
}

.about-img img {
    width: 250px;
}
.about-description {
    padding-left: 100px;
    width: 800px;
    font-size: 21px;
    color: #7A7A7A;
}
.description-text {
    padding-top: 25px;
}
.about-contact-text {
    padding-top: 25px;

    line-height: 35px;
}
.about-contact-btn {
    display: flex; 
    align-items: center;
}
.download-resume {
    margin-left: 100px;
}

.download-resume button {
    border: 0;
    outline: 0;
    font-size: 30px;
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 10px;
    transition: 0.3s;
    display: flex;
    justify-content: center;
    align-items: center;
}
.svg-dl {
    width: 30px;
    height: 30px;
    margin-right: 15px;
    transition: 0.3s;
}

.download-resume button:hover {
    background: #11ABB0;
    color: white;
}

.download-resume button:hover .svg-dl {
    fill: white;
}

.education-block {
    background: white;
    padding: 100px 0;
}

.education-container {
    max-width: 1140px;
    margin: 0 auto;
    display: flex;
    align-items: flex-start;
    justify-content: space-evenly;
}
.education-container .title {
    color: black;
    padding-top: 0;
    border-bottom: 3px solid #11ABB0;
}

.education-text {
    width: 600px;
    border-left: 2px solid rgba(0, 0, 0, 0.589);
    padding: 0 0 0 50px;
}

.education-school {
    font-size: 35px;
}

.education-period {
    padding: 20px 0;
}

.education-description {
    line-height: 30px;
    padding-bottom: 30px;
}

/* PORTFOLIO */

.portfolio-block {
    padding: 70px 0;
    background: url(../images/bg3.jpg);
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.portfolio-container {
    max-width: 1140px;
    margin: 0 auto;
}

.portfolio-title {
    text-align: center;
    color: black;
    padding-bottom: 40px;
}

.portfolio-items {
    display: flex;
    flex-wrap: wrap;
    justify-content: start;
    align-items:center;
}

.portfolio-item {
    position: relative;
    width: 325px;
    margin: 27px;
}

.portfolio-item img {
    width: 325px;
    border-radius: 10px;
}


.portfolio-item-text {
    opacity: 0;
    border-radius: 10px;
    cursor: pointer;
    transition: 0.3s;
    position: absolute;
    width: 325px;
    text-align: center;
    color: white;
    height: 156.5px;
    top: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.548);
}
.portfolio-item-text a {
    text-decoration: none;
    color: white;
}
.portfolio-item-text span {
    display: inline-block;
    padding-top: 35px;
    display: flex;
    flex-direction: column;
    align-items:center;
    justify-content: center;
}

.portfolio-item-text:hover {
    opacity: 1;
}

.loupe {
    padding-bottom: 20px;
    width: 35px;
    height: 35px;
    fill: white;
}

/* CONTACT */

.contact-block {
    padding: 70px 0;
    max-width: 1140px;
    margin: 0 auto;
}

.contact-title {
    text-align: center;
}

.contact-form {
    display: flex;
    align-items: center;
    padding-top: 50px;
    position: relative;
}

.contact-form::after {
    content:"";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    visibility: hidden;
    transition: 0.2s;
    background: #858a8b3f url(../images/gif/loading.gif) center / 50px no-repeat;
}
.contact-form._sending::after {
    opacity: 1;
    visibility: visible;
}

.input-items {
    margin-left: 50px;
    
}
.input-item {
    padding: 30px 0;
}
.input-item label {
    display: flex;
}

.input-item input {
    color: white;
    border-radius: 10px;
    border: 0;
    outline: 0;
    padding: 5px 10px;
    width: 280px;
    font-size: 20px;
    background: #373233;
    transition: 0.3s;
}

.input-item input:focus {
    color: #fff;
    background-color: #11ABB0;
}

.input-item textarea {
    color: white;
    border-radius: 10px;
    border: 0;
    outline: 0;
    padding: 5px 10px;
    width: 280px;
    font-size: 20px;
    background: #373233;
    transition: 0.3s;
}

.input-item textarea:focus {
    color: #fff;
    background-color: #11ABB0;
}

.input-title {
    font-size: 20px;
    color: white;
    width: 150px;
}
input._error {
    box-shadow: 0 0 15px rgba(255, 0, 0, 0.548);
}
.input-title span {
    color: #11ABB0;
}

.email-svg {
    transition: 0.3s;
    width: 100px;
    height: 100px;
    fill: white;
}

.contact-send {
    width: 125px;
    height: 100px;
    background-color: rgba(255, 255, 255, 0);
    margin-left: 150px;
    border: 0;
    outline: 0;
    cursor: pointer;
}

.contact-send:hover .email-svg {
    fill: #11ABB0;
}

.thanks-modal-block {
    position: fixed;
    top: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items:center;
    transition: 0.3s;
}
.modal-swipe {
    left: -1500px;
}
.modal-show {
    left: 0;
}

.thanks-modal {
    text-align: center;
    color: white;
    width: 300px;
    background: #373233;
    padding: 30px 0;
    position: relative;
    border-radius: 20px;
    border: 2px solid #11ABB0;
}

.modal-close {
    position: absolute;
    right: 15px;
    top: 15px;
    font-size: 32px;
    color: white;
    cursor: pointer;
}